In [ ]:
import pandas as pd
import datetime

min_res_WTI = pd.read_csv('data/minResWTI.csv')
print("min_res_WTI:")
display(min_res_WTI.head())
#display(min_res_WTI.tail())

day_res_WTI = pd.read_csv('data/dailyResWTI.csv')
print("day_res_WTI:")
display(day_res_WTI.head())
#display(day_res_WTI.tail())

icom_eia_forecasts = pd.read_csv('data/InvestingcomEIA.csv')
print("icom_eia_forecasts:")
display(icom_eia_forecasts.head())

fxstreet_eia_forecasts = pd.read_csv('data/FXStreetEIA.csv')
print("fxstreet_eia_forecasts:")
display(fxstreet_eia_forecasts.head())
print("fxstreet_api_forecasts:")
fxstreet_api_forecasts = pd.read_csv('data/FXStreetAPI.csv')
display(fxstreet_api_forecasts.head())

min_res_WTI:

,pricesymbol,tradedatetimeutc,open,high,low,close,volume,day_name
0,/GCL,2011-08-09 13:25:00.000,82.11,82.18,81.96,82.17,753,Wednesday
1,/GCL,2011-08-09 13:26:00.000,82.17,82.17,82.09,82.14,331,Wednesday
2,/GCL,2011-08-09 13:27:00.000,82.13,82.15,81.98,82.01,527,Wednesday
3,/GCL,2011-08-09 13:28:00.000,82.02,82.10,81.81,81.82,772,Wednesday
4,/GCL,2011-08-09 13:29:00.000,81.83,82.05,81.67,81.98,997,Wednesday

day_res_WTI:

         Date  Price   Open   High    Low     Vol. Change %
0  02/17/2025  71.23  70.29  71.41  70.28   81.41K    1.31%
1  02/16/2025  70.31  70.40  70.46  70.15      NaN   -0.57%
2  02/14/2025  70.71  71.38  71.88  70.50  213.47K   -0.60%
3  02/13/2025  71.14  71.08  71.46  70.16  220.02K   -0.14%
4  02/12/2025  71.24  72.98  73.00  71.03  221.77K   -2.52%

icom_eia_forecasts:

  Release Date   Time   Actual Forecast Previous
0    12-Mar-25   8:30      NaN      NaN   3.614M
1     5-Mar-25  10:30   3.614M   0.600M  -2.332M
2    26-Feb-25  10:00  -2.332M   2.500M   4.633M
3    20-Feb-25  12:00   4.633M   3.200M   4.070M
4    12-Feb-25  10:30   4.070M   2.400M   8.664M

fxstreet_eia_forecasts:

                  Date  Actual   Dev  Cons
0  03/05/2025 (Feb 28)   3.614  1.19 -0.29
1  02/26/2025 (Feb 21)  -2.332 -2.44  2.34
2  02/20/2025 (Feb 14)   4.633  0.77  3.00
3   02/12/2025 (Feb 7)    4.07  0.55  2.80
4  02/05/2025 (Jan 31)   8.664  6.13  3.20

fxstreet_api_forecasts:

                  Date  Actual   Dev  Cons
0  03/04/2025 (Feb 28)  -1.455 -0.36 -0.30
1  02/25/2025 (Feb 21)  -0.640   NaN   NaN
2  02/19/2025 (Feb 14)   3.340  0.36  2.20
3   02/11/2025 (Feb 7)   9.043  2.64  2.80
4  02/04/2025 (Jan 31)   5.025  0.79  3.17

In [21]:
min_res_WTI['tradedatetimeutc'] = pd.to_datetime(min_res_WTI['tradedatetimeutc'])
min_res_WTI.set_index('tradedatetimeutc', inplace=True)

In [22]:
display(min_res_WTI)

                    pricesymbol   open   high    low  close  volume   day_name
tradedatetimeutc
2011-08-09 13:25:00        /GCL  82.11  82.18  81.96  82.17     753  Wednesday
2011-08-09 13:26:00        /GCL  82.17  82.17  82.09  82.14     331  Wednesday
2011-08-09 13:27:00        /GCL  82.13  82.15  81.98  82.01     527  Wednesday
2011-08-09 13:28:00        /GCL  82.02  82.10  81.81  81.82     772  Wednesday
2011-08-09 13:29:00        /GCL  81.83  82.05  81.67  81.98     997  Wednesday
...                         ...    ...    ...    ...    ...     ...        ...
2024-06-17 20:55:00        /GCL  80.65  80.66  80.64  80.64      16  Wednesday
2024-06-17 20:56:00        /GCL  80.64  80.64  80.63  80.63       5  Wednesday
2024-06-17 20:57:00        /GCL  80.62  80.63  80.62  80.63      11  Wednesday
2024-06-17 20:58:00        /GCL  80.64  80.64  80.64  80.64      10  Wednesday
2024-06-17 20:59:00        /GCL  80.63  80.64  80.61  80.62      21  Wednesday

[2574828 rows x 7 columns]