In [22]:
import pandas as pd
import datetime

'''
min_res_WTI = pd.read_csv('data/minResWTI.csv')
print("min_res_WTI:")
display(min_res_WTI.head())
#display(min_res_WTI.tail())
'''

'''
day_res_WTI = pd.read_csv('data/dailyResWTI.csv')
print("day_res_WTI:")
display(day_res_WTI.head())
#display(day_res_WTI.tail())
'''

icom_eia_forecasts = pd.read_csv('data/InvestingcomEIA.csv')
print("icom_eia_forecasts:")
display(icom_eia_forecasts)

fxstreet_eia_forecasts = pd.read_csv('data/FXStreetEIA.csv')
print("fxstreet_eia_forecasts:")
display(fxstreet_eia_forecasts)
print("fxstreet_api_forecasts:")
fxstreet_api_forecasts = pd.read_csv('data/FXStreetAPI.csv')
display(fxstreet_api_forecasts)

icom_eia_forecasts:

    Release Date   Time   Actual Forecast Previous
0      12-Mar-25   8:30      NaN      NaN   3.614M
1       5-Mar-25  10:30   3.614M   0.600M  -2.332M
2      26-Feb-25  10:00  -2.332M   2.500M   4.633M
3      20-Feb-25  12:00   4.633M   3.200M   4.070M
4      12-Feb-25  10:30   4.070M   2.400M   8.664M
..           ...    ...      ...      ...      ...
727     6-Apr-11   9:30   2.000M   1.300M   2.900M
728    30-Mar-11   9:30   2.900M   2.000M   2.100M
729    23-Mar-11   9:30   2.100M   2.000M   1.700M
730    16-Mar-11   9:30   1.700M   1.800M   2.500M
731     9-Mar-11  10:30   2.500M   1.100M  -0.400M

[732 rows x 5 columns]

fxstreet_eia_forecasts:

                    Date  Actual   Dev  Cons
0    03/05/2025 (Feb 28)   3.614  1.19 -0.29
1    02/26/2025 (Feb 21)  -2.332 -2.44  2.34
2    02/20/2025 (Feb 14)   4.633  0.77  3.00
3     02/12/2025 (Feb 7)    4.07  0.55  2.80
4    02/05/2025 (Jan 31)   8.664  6.13  3.20
..                   ...     ...   ...   ...
899  05/23/2007 (May 18)       2   NaN   NaN
900  05/02/2007 (Apr 27)       1   NaN   NaN
901  04/25/2007 (Apr 20)     2.1   NaN   NaN
902   04/11/2007 (Apr 6)      -1   NaN   NaN
903  03/28/2007 (Mar 23)    -0.9   NaN   NaN

[904 rows x 4 columns]

fxstreet_api_forecasts:

                    Date  Actual   Dev  Cons
0    03/04/2025 (Feb 28)  -1.455 -0.36 -0.30
1    02/25/2025 (Feb 21)  -0.640   NaN   NaN
2    02/19/2025 (Feb 14)   3.340  0.36  2.20
3     02/11/2025 (Feb 7)   9.043  2.64  2.80
4    02/04/2025 (Jan 31)   5.025  0.79  3.17
..                   ...     ...   ...   ...
500             8/4/2015  -2.400   NaN   NaN
501            7/28/2015  -1.900   NaN   NaN
502            7/21/2015   2.300   NaN   NaN
503            7/14/2015  -7.300   NaN   NaN
504             7/7/2015  -0.958   NaN   NaN

[505 rows x 4 columns]

In [24]:
import csv

with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    writer.writerow(["Date", "Time", "Open", "High", "Low", "Close", "Volume"])

    for row in reader:
        writer.writerow(row)

min_res_OIH = pd.read_csv('data/minResOIH.csv')

<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\m'
C:\Users\evans\AppData\Local\Temp\ipykernel_5596\3713843866.py:3: SyntaxWarning: invalid escape sequence '\O'
  with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:
C:\Users\evans\AppData\Local\Temp\ipykernel_5596\3713843866.py:3: SyntaxWarning: invalid escape sequence '\m'
  with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:

In [25]:
display(min_res_OIH)
display(icom_eia_forecasts)

               Date   Time    Open    High     Low    Close  Volume
0        02/26/2001  09:41  383.33  383.33  383.33  383.330    4622
1        02/26/2001  09:44  384.67  384.67  384.67  384.670     112
2        02/26/2001  09:46  386.24  386.24  386.24  386.240     112
3        02/26/2001  10:14  390.04  390.04  390.04  390.040      45
4        02/26/2001  10:18  392.28  392.28  392.28  392.280    6699
...             ...    ...     ...     ...     ...      ...     ...
2081337  03/05/2025  15:55  247.87  247.97  247.85  247.970    1641
2081338  03/05/2025  15:56  248.03  248.08  247.94  247.970    1883
2081339  03/05/2025  15:57  247.93  247.93  247.69  247.750    3105
2081340  03/05/2025  15:58  247.81  248.09  247.81  248.045   25211
2081341  03/05/2025  15:59  248.03  248.18  247.82  247.830    6549

[2081342 rows x 7 columns]

    Release Date   Time   Actual Forecast Previous
0      12-Mar-25   8:30      NaN      NaN   3.614M
1       5-Mar-25  10:30   3.614M   0.600M  -2.332M
2      26-Feb-25  10:00  -2.332M   2.500M   4.633M
3      20-Feb-25  12:00   4.633M   3.200M   4.070M
4      12-Feb-25  10:30   4.070M   2.400M   8.664M
..           ...    ...      ...      ...      ...
727     6-Apr-11   9:30   2.000M   1.300M   2.900M
728    30-Mar-11   9:30   2.900M   2.000M   2.100M
729    23-Mar-11   9:30   2.100M   2.000M   1.700M
730    16-Mar-11   9:30   1.700M   1.800M   2.500M
731     9-Mar-11  10:30   2.500M   1.100M  -0.400M

[732 rows x 5 columns]

In [ ]:
def standardize_eia_datetime(row):
    release_date = pd.to_datetime(row['Release Date'], format='%d-%b-%y', errors='coerce').date()
    release_time = pd.to_datetime(row['Time'], format='%H:%M', errors='coerce').time()

    if pd.isna(release_date) or pd.isna(release_time):
        print('nan') #If this triggers, something is wrong
        return pd.NaT

    combined_datetime = pd.Timestamp.combine(release_date, release_time)
    return combined_datetime

icom_eia_forecasts['Release_Datetime'] = icom_eia_forecasts.apply(standardize_eia_datetime, axis=1)

display(icom_eia_forecasts)

    Release Date   Time   Actual Forecast Previous    Release_Datetime
0      12-Mar-25   8:30      NaN      NaN   3.614M 2025-03-12 08:30:00
1       5-Mar-25  10:30   3.614M   0.600M  -2.332M 2025-03-05 10:30:00
2      26-Feb-25  10:00  -2.332M   2.500M   4.633M 2025-02-26 10:00:00
3      20-Feb-25  12:00   4.633M   3.200M   4.070M 2025-02-20 12:00:00
4      12-Feb-25  10:30   4.070M   2.400M   8.664M 2025-02-12 10:30:00
..           ...    ...      ...      ...      ...                 ...
727     6-Apr-11   9:30   2.000M   1.300M   2.900M 2011-04-06 09:30:00
728    30-Mar-11   9:30   2.900M   2.000M   2.100M 2011-03-30 09:30:00
729    23-Mar-11   9:30   2.100M   2.000M   1.700M 2011-03-23 09:30:00
730    16-Mar-11   9:30   1.700M   1.800M   2.500M 2011-03-16 09:30:00
731     9-Mar-11  10:30   2.500M   1.100M  -0.400M 2011-03-09 10:30:00

[732 rows x 6 columns]

In [27]:
def standardize_oih_datetime(row):
    """Standardizes datetime for min_res_OIH dataframe."""
    date_str = row['Date']
    time_str = row['Time']

    #print(date_str + ' ' + time_str)#debug

    combined_datetime = pd.to_datetime(date_str + ' ' + time_str, format='%m/%d/%Y %H:%M', errors='coerce') # Combined format

    #print(combined_datetime)#debug

    if pd.isna(combined_datetime):
        print('nan')#If this triggers, something is wrong
        return pd.NaT
    return combined_datetime

min_res_OIH['Datetime'] = min_res_OIH.apply(standardize_oih_datetime, axis=1)
display(min_res_OIH)

,Date,Time,Open,High,Low,Close,Volume,Datetime
0,02/26/2001,09:41,383.33,383.33,383.33,383.330,4622,2001-02-26 09:41:00
1,02/26/2001,09:44,384.67,384.67,384.67,384.670,112,2001-02-26 09:44:00
2,02/26/2001,09:46,386.24,386.24,386.24,386.240,112,2001-02-26 09:46:00
3,02/26/2001,10:14,390.04,390.04,390.04,390.040,45,2001-02-26 10:14:00
4,02/26/2001,10:18,392.28,392.28,392.28,392.280,6699,2001-02-26 10:18:00
...,...,...,...,...,...,...,...,...
2081337,03/05/2025,15:55,247.87,247.97,247.85,247.970,1641,2025-03-05 15:55:00
2081338,03/05/2025,15:56,248.03,248.08,247.94,247.970,1883,2025-03-05 15:56:00
2081339,03/05/2025,15:57,247.93,247.93,247.69,247.750,3105,2025-03-05 15:57:00
2081340,03/05/2025,15:58,247.81,248.09,247.81,248.045,25211,2025-03-05 15:58:00
2081341,03/05/2025,15:59,248.03,248.18,247.82,247.830,6549,2025-03-05 15:59:00

In [ ]:
icom_eia_forecasts = icom_eia_forecasts.set_index('Release_Datetime').sort_index()
min_res_OIH = min_res_OIH.set_index('Datetime').sort_index()

In [30]:
display(icom_eia_forecasts)
display(min_res_OIH)

                    Release Date   Time   Actual Forecast Previous
Release_Datetime
2011-03-09 10:30:00     9-Mar-11  10:30   2.500M   1.100M  -0.400M
2011-03-16 09:30:00    16-Mar-11   9:30   1.700M   1.800M   2.500M
2011-03-23 09:30:00    23-Mar-11   9:30   2.100M   2.000M   1.700M
2011-03-30 09:30:00    30-Mar-11   9:30   2.900M   2.000M   2.100M
2011-04-06 09:30:00     6-Apr-11   9:30   2.000M   1.300M   2.900M
...                          ...    ...      ...      ...      ...
2025-02-12 10:30:00    12-Feb-25  10:30   4.070M   2.400M   8.664M
2025-02-20 12:00:00    20-Feb-25  12:00   4.633M   3.200M   4.070M
2025-02-26 10:00:00    26-Feb-25  10:00  -2.332M   2.500M   4.633M
2025-03-05 10:30:00     5-Mar-25  10:30   3.614M   0.600M  -2.332M
2025-03-12 08:30:00    12-Mar-25   8:30      NaN      NaN   3.614M

[732 rows x 5 columns]

,Date,Time,Open,High,Low,Close,Volume
Datetime,,,,,,,
2001-02-26 09:41:00,02/26/2001,09:41,383.33,383.33,383.33,383.330,4622
2001-02-26 09:44:00,02/26/2001,09:44,384.67,384.67,384.67,384.670,112
2001-02-26 09:46:00,02/26/2001,09:46,386.24,386.24,386.24,386.240,112
2001-02-26 10:14:00,02/26/2001,10:14,390.04,390.04,390.04,390.040,45
2001-02-26 10:18:00,02/26/2001,10:18,392.28,392.28,392.28,392.280,6699
...,...,...,...,...,...,...,...
2025-03-05 15:55:00,03/05/2025,15:55,247.87,247.97,247.85,247.970,1641
2025-03-05 15:56:00,03/05/2025,15:56,248.03,248.08,247.94,247.970,1883
2025-03-05 15:57:00,03/05/2025,15:57,247.93,247.93,247.69,247.750,3105
2025-03-05 15:58:00,03/05/2025,15:58,247.81,248.09,247.81,248.045,25211
2025-03-05 15:59:00,03/05/2025,15:59,248.03,248.18,247.82,247.830,6549

In [44]:
def calculate_price_change(eia_release_times, price_data, time_interval_minutes):
    """
    Calculates the percentage price change in the price_data dataframe
    for each release time in eia_release_times, over the specified time interval.

    Args:
        eia_release_times (pd.DatetimeIndex): Index of the icom_eia_forecasts dataframe (release datetimes).
        price_data (pd.DataFrame): min_res_OIH dataframe with Datetime index and 'Close' price column.
        time_interval_minutes (int): Time interval in minutes for price change calculation.

    Returns:
        list: List of price changes for each release event, or pd.NA if data is missing.
    """
    price_changes = []
    for release_time in eia_release_times:
        try:
            # Get price at release time
            release_price = price_data.loc[release_time]['Close']

            # Get price at time_interval_minutes after release
            future_time = release_time + pd.Timedelta(minutes=time_interval_minutes)
            future_price = price_data.loc[future_time]['Close']

            price_change = ((future_price - release_price) / release_price) * 100.0
            price_changes.append(price_change)

        except KeyError:
            #price data is missing when 0 volume so give 0 % price change
            price_changes.append(0.0)

    return price_changes

time_intervals_minutes = [1, 5, 10, 60]

price_change_column_names = []
for interval in time_intervals_minutes:
    col_name = f'{interval}_Minute_Percent_Price_Change' if interval < 60 else f'{interval//60}_Hour_Percent_Price_Change'
    price_change_column_names.append(col_name)

# remove cols if already there
columns_to_drop = [col for col in price_change_column_names if col in icom_eia_forecasts.columns]
if columns_to_drop:
    print(f"Removing existing columns: {columns_to_drop}")
    icom_eia_forecasts.drop(columns=columns_to_drop, inplace=True)

# add % price change columns
for interval, col_name in zip(time_intervals_minutes, price_change_column_names):
    icom_eia_forecasts[col_name] = calculate_price_change(icom_eia_forecasts.index, min_res_OIH, interval)


display(icom_eia_forecasts)

Removing existing columns: ['1_Minute_Percent_Price_Change', '5_Minute_Percent_Price_Change', '10_Minute_Percent_Price_Change', '1_Hour_Percent_Price_Change']

,Release Date,Time,Actual,Forecast,Previous,1_Minute_Percent_Price_Change,5_Minute_Percent_Price_Change,10_Minute_Percent_Price_Change,1_Hour_Percent_Price_Change
Release_Datetime,,,,,,,,,
2011-03-09 10:30:00,9-Mar-11,10:30,2.500M,1.100M,-0.400M,-0.093410,0.161990,0.018919,-0.887990
2011-03-16 09:30:00,16-Mar-11,9:30,1.700M,1.800M,2.500M,0.006132,-0.213392,-0.881776,0.473387
2011-03-23 09:30:00,23-Mar-11,9:30,2.100M,2.000M,1.700M,-0.131634,-0.263267,-0.751853,-0.400830
2011-03-30 09:30:00,30-Mar-11,9:30,2.900M,2.000M,2.100M,-0.006824,-0.523149,-0.354832,-1.316972
2011-04-06 09:30:00,6-Apr-11,9:30,2.000M,1.300M,2.900M,-0.095395,0.174891,0.168077,-0.827892
...,...,...,...,...,...,...,...,...,...
2025-02-12 10:30:00,12-Feb-25,10:30,4.070M,2.400M,8.664M,0.042516,0.000000,0.000000,-0.155890
2025-02-20 12:00:00,20-Feb-25,12:00,4.633M,3.200M,4.070M,0.039260,0.164180,0.384039,0.164180
2025-02-26 10:00:00,26-Feb-25,10:00,-2.332M,2.500M,4.633M,0.011223,-0.291807,0.000000,-0.594837
2025-03-05 10:30:00,5-Mar-25,10:30,3.614M,0.600M,-2.332M,-0.114745,-0.077862,0.000000,-0.557331
2025-03-12 08:30:00,12-Mar-25,8:30,NaN,NaN,3.614M,0.000000,0.000000,0.000000,0.000000