In [6]:
import pandas as pd
import datetime

'''
min_res_WTI = pd.read_csv('data/minResWTI.csv')
print("min_res_WTI:")
display(min_res_WTI.head())
#display(min_res_WTI.tail())
'''

'''
day_res_WTI = pd.read_csv('data/dailyResWTI.csv')
print("day_res_WTI:")
display(day_res_WTI.head())
#display(day_res_WTI.tail())
'''

icom_eia_forecasts = pd.read_csv('data/InvestingcomEIA.csv')
print("icom_eia_forecasts:")
display(icom_eia_forecasts.head())

fxstreet_eia_forecasts = pd.read_csv('data/FXStreetEIA.csv')
print("fxstreet_eia_forecasts:")
display(fxstreet_eia_forecasts.head())
print("fxstreet_api_forecasts:")
fxstreet_api_forecasts = pd.read_csv('data/FXStreetAPI.csv')
display(fxstreet_api_forecasts.head())

icom_eia_forecasts:

  Release Date   Time   Actual Forecast Previous
0    12-Mar-25   8:30      NaN      NaN   3.614M
1     5-Mar-25  10:30   3.614M   0.600M  -2.332M
2    26-Feb-25  10:00  -2.332M   2.500M   4.633M
3    20-Feb-25  12:00   4.633M   3.200M   4.070M
4    12-Feb-25  10:30   4.070M   2.400M   8.664M

fxstreet_eia_forecasts:

                  Date  Actual   Dev  Cons
0  03/05/2025 (Feb 28)   3.614  1.19 -0.29
1  02/26/2025 (Feb 21)  -2.332 -2.44  2.34
2  02/20/2025 (Feb 14)   4.633  0.77  3.00
3   02/12/2025 (Feb 7)    4.07  0.55  2.80
4  02/05/2025 (Jan 31)   8.664  6.13  3.20

fxstreet_api_forecasts:

                  Date  Actual   Dev  Cons
0  03/04/2025 (Feb 28)  -1.455 -0.36 -0.30
1  02/25/2025 (Feb 21)  -0.640   NaN   NaN
2  02/19/2025 (Feb 14)   3.340  0.36  2.20
3   02/11/2025 (Feb 7)   9.043  2.64  2.80
4  02/04/2025 (Jan 31)   5.025  0.79  3.17

In [7]:
import csv

with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    writer.writerow(["Date", "Time", "Open", "High", "Low", "Close", "Volume"] ) # Write the header row to the CSV file

    for row in reader:
        writer.writerow(row)

min_res_OIH = pd.read_csv('data/minResOIH.csv')
print("min_res_OIH:")
display(min_res_OIH)

<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\m'
C:\Users\evans\AppData\Local\Temp\ipykernel_5596\3086982791.py:3: SyntaxWarning: invalid escape sequence '\O'
  with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:
C:\Users\evans\AppData\Local\Temp\ipykernel_5596\3086982791.py:3: SyntaxWarning: invalid escape sequence '\m'
  with open('data\OIH.txt', 'r') as infile, open('data\minResOIH.csv', 'w', newline='') as outfile:

min_res_OIH:

               Date   Time    Open    High     Low    Close  Volume
0        02/26/2001  09:41  383.33  383.33  383.33  383.330    4622
1        02/26/2001  09:44  384.67  384.67  384.67  384.670     112
2        02/26/2001  09:46  386.24  386.24  386.24  386.240     112
3        02/26/2001  10:14  390.04  390.04  390.04  390.040      45
4        02/26/2001  10:18  392.28  392.28  392.28  392.280    6699
...             ...    ...     ...     ...     ...      ...     ...
2081337  03/05/2025  15:55  247.87  247.97  247.85  247.970    1641
2081338  03/05/2025  15:56  248.03  248.08  247.94  247.970    1883
2081339  03/05/2025  15:57  247.93  247.93  247.69  247.750    3105
2081340  03/05/2025  15:58  247.81  248.09  247.81  248.045   25211
2081341  03/05/2025  15:59  248.03  248.18  247.82  247.830    6549

[2081342 rows x 7 columns]